<footer class="footer">
	<div class="container">
		<div class="hero has-text-centered">
			<div class="columns">
				<div class="column">
					<h4 class="title is-4">Sobre nosotros</h4>
					<p>Descripción de la empresa...</p>
				</div>
				<div class="column">
					<h4 class="title is-4">Enlaces útiles</h4>
					<ul>
						<li><a href="/about">Sobre nosotros</a></li>
						<li><a href="/contact">Contacto</a></li>
						<li><a href="/terms">Términos y condiciones</a></li>
					</ul>
				</div>
				<div class="column">
					<h4 class="title is-4">Contacto</h4>
					<p>Dirección de la empresa...</p>
				</div>
			</div>
		</div>
	</div>
</footer>
