<!-- Desktop -->
<div class="container is-fluid" id="desktop">
	<div class="columns">
		<!--			<Logo">-->
		<div class="column is-2">
			<section class="hero is-small">
				<section class="hero-body">
					<a href="#">
						<figure class="image is-96x96 is-rounded">
							{% load static %}
							<img class="is-rounded" src="{% static 'img/logo-small.webp' %}">
						</figure>
					</a>
				</section>
			</section>
		</div>
		<!--			</Logo>-->
		<!--			<Navbar Menu>-->
		<div class="column is-8">
			<section class="section">
				<div class="columns">
					<div class="column hover-color-change">
						<a href="#">
							<h1 class="title is-6 has-text-centered">
								Projects
							</h1>
						</a>
					</div>
					<div class="column hover-color-change">
						<a href="#">
							<h1 class="title is-6 has-text-centered">
								About me
							</h1>
						</a>
					</div>
					<div class="column hover-color-change">
						<a href="#">
							<h1 class="title is-6 has-text-centered">
								Contact
							</h1>
						</a>
					</div>
				</div>
			</section>
		</div>
		<!--			</Navbar Menu>-->
		<!--			<Navbar End>-->
		<div class="column is-2">
			<section class="section">
				<div class="buttons">
					<a class="button color3 has-text-white">
						<strong>Sign up</strong>
					</a>
					<a class="button is-light">
						Log in
					</a>
				</div>
			</section>
		</div>
		<!--			</Navbar End>-->
	</div>
</div>
<!-- End Desktop -->
<!-- Mobile -->
<div class="container" id="mobile">
	<div  class="columns color1">
		<!--			<Logo>-->
		<div class="column">
			<section class="section">
				<a href="#">
					<figure class="image is-128x128">
						{% load static %}
						<img src="{% static 'img/logo-small.webp' %}">
					</figure>
				</a>
			</section>
		</div>
		<!--			</Logo>-->
		<!--			<Navbar mid>-->
		<div class="column">
			<div class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</div>
<!--			</Navbar mid>-->
<!-- End Mobile -->

