<div class="container" id="desktop">
	<section class="section color5">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<!--			<Logo">-->
			<div class="container">
				<div class="navbar-brand">
					{% load static %}
					<div class="container" href="#">
						<figure class="image is-128x128">
							{% load static %}
							<img src="{% static 'img/logo.png' %}">
						</figure>
					</div>
				</div>
			</div>
			<!--			</Logo>-->
			<!--			<Navbar Menu>-->
			<div class="container">
				<div class="columns">

				</div>
			</div>
			<!--			</Navbar Menu>-->
			<!--			<Navbar End>-->
			<div class="container">
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<a class="button color3 has-text-white">
								<strong>Sign up</strong>
							</a>
							<a class="button is-light">
								Log in
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--			</Navbar End>-->
		</nav>
	</section>
</div>
<!-- Mobile -->
<div class="container" id="mobile">
	<section class="section">
		<figure class="image">
			{% load static %}
			<img src="{% static 'img/logo.png' %}">
		</figure>
	</section>
</div>
<!-- End Mobile -->

