<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'includes/head.html' %}
	</head>
	<body class="color1">
		<header class="color1">
			{% include 'includes/header.html' %}
		</header>
		<section class="section pattern-with-svg">
			<div class="hero is-fullheight">
				<h1 class="title is-1 grid-item">Home</h1>
				<h2 class="subtitle grid-item is-1">Welcome to our website!</h2>
				<h3 class="subtitle grid-item is-1">This is a subtitle</h3>
				<h4 class="subtitle grid-item is-1">This is a subtitle</h4>
				<h5 class="subtitle grid-item is-1">This is a subtitle</h5>
			</div>
			<div class="hero is-fullheight">
				<h1 class="title is-1 grid-item">Home</h1>
				<h2 class="subtitle grid-item is-1">Welcome to our website!</h2>
				<h3 class="subtitle grid-item is-1">This is a subtitle</h3>
				<h4 class="subtitle grid-item is-1">This is a subtitle</h4>
				<h5 class="subtitle grid-item is-1">This is a subtitle</h5>
			</div>
		</section>
		<footer class="grid-item">
			{% include 'includes/footer.html' %}
		</footer>
	</body>
</html>
