@charset "utf-8";
@import "~bulma/bulma";

$color1: #224b69;
$color2: #365f7a;
$color3: #3c4550;
$color4: #cacabc;
$color5: #285270;

.color1 {
  background-color: $color1;
}
.color2 {
  background-color: $color2;
}
.color3 {
  background-color: $color3;
}
.color4 {
  background-color: $color4;
}
.color5 {
  background-color: $color5;
}

.text-color1 {
  color: $color1;
}
.text-color2 {
  color: $color2;
}
.text-color3 {
  color: $color3;
}
.text-color4 {
  color: $color4;
}
.text-color5 {
  color: $color5;
}
 
// button
.hover-color-change {
  background-color: $color2;
  transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
  
  &:hover {
    background-color: $color4;
  }
}

.pattern-with-svg {
  background-color: $color1;
  background-image: url('~Assets/images/circuit-board.svg');
  background-size: 248px 248px;    
  background-repeat: repeat;
}

.menu-button {
  cursor: pointer;
}
 
.menu-container {
  /* Estilos iniciales para tu menú lateral (oculto) */
	position: fixed; /* No ocupa espacio mientras está oculto */
	width: 100%;
	height: 100%;
  transform: translateX(-110%);
  transition: transform 0.3s ease;
	z-index: 1000;
	overflow-y: auto; /* Permite hacer scroll si el menú es muy largo */
	visibility: hidden;

}
 
.menu-container.is-active {
  /* Estilos para el menú cuando está activo (visible) */
  transform: translateX(0);
	visibility: visible;
}

.box {
  margin-left: 100px;
  margin-top: 40px;
}

/* Nerd Fonts */

@font-face {
  font-family: 'MartianMonoNerdFont';
  src: url('~Assets/fonts/MartianMonoNerdFont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.MartianMonoNerdFont {
  font-family: 'MartianMonoNerdFont', monospace;
}

/* Icons */
.icon-custom {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
